*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.category img{
    width: 60px;
    height: 60px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.category a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    margin-top:8px;
    margin-bottom: 10px;
    transition: all 0.1s ease;
    padding: 8px;
    background-color: rgba(156, 221, 221, 0.664);
    border-radius: 5px;
}
.category a:hover{
    color:black;
    transform:scale(1.2);
    background-color:rgba(73, 73, 170, 0.596);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    padding: 8px;
    border-radius: 5px;
}
header h1{
    text-align: center;
    background-color:rgba(73, 73, 170, 0.712);
    color: white;
    padding: 13px;
    font-size: 1.5rem;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
     font-size: 0.9rem;
}
ul {
    padding-left: 14px;
}
.shopping-cart,.upcoming-sales{
    background-color: rgb(221, 218, 218);
}
.shopping-cart,.upcoming-sales{
    padding: 28px 40px;
}
.shopping-cart img{
    width: 100%;
    height: 350px
}
.upcoming-sales h3{
    text-align: center;
    margin-bottom: 20px;
}
.upcoming-sales table{
    width: 100%;
}
table th{
   background-color:rgba(73, 73, 170, 0.712); 
}
.store-details{
    color: rgb(105, 103, 103);
}
.fashion-destination,.festival-sales,.payment-options{
    padding-left:20px;
    padding-right: 100px;
    font-size: 0.6rem;
    width: 100%;
}
.fashion-destination p,.payment-options p,.festival-sales p{
    text-align: justify;
}
.fashion-destination h2,.festival-sales h2,.payment-options h2{
    margin-top:20px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.festival-sales p{
    margin-bottom: 15px;
}
footer{
    background-color:black;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 1rem;
    margin-top: 25px;
}